<!--Footer created by Nisarg Patel-->
<footer>
    <div class="row fluid justify-content-center" id="f3">
        <div class="col-md">
            <p class="p1" id="before"><a href="./index.html" class="f1">HOMEPAGE</a></p>
        </div>
        <div class="col-md">
            <p class="p1"><a href="./whatwedo.html" class="f1">WHAT WE DO</a></p>
        </div>
        <div class="col-md">
            <p class="p1"><a href="./wherewework.html" class="f1">WHERE WE WORK</a></p>
        </div>
        <div class="col-md">
            <p class="p1"><a href="./whoweare.html" class="f1">WHO WE ARE</a></p>
        </div>
        <div class="col-md">
            <p class="p1"><a href="./attorneys.html" class="f1">ATTORNEYS</a></p>
        </div>
        <div class="col-md">
            <p class="p1" id="after"><a href="./contactus.html" class="f1">CONTACT US</a></p>
        </div>
    </div>
    <Div>
        <p class="text-center f2">© 2018 Conor Miliken</p>
    </Div>
</footer>