{% extends 'layout.html'%}

{% block title %}
{{ super() }} | Register
{% endblock %}

{% block content%}

<h3>
    Welcome to Bigshot, Zoo & Adds, PC! Register your account below!
</h3>

<div class="row">
    <div class='col-md-6'>
        <form action="{{ url_for('authentication.register') }}" method='POST' novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name(class='form-control', placeholder='First Name') }}
            </div>
            <div class="form-group">
                {{ form.last_name(class='form-control', placeholder='Last Name') }}
            </div>
            <div class="form-group">
                {{ form.email(class='form-control', placeholder='Email') }}
                {%for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{error}}</strong>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password(class='form-control', placeholder='Password') }}
            </div>
            <div class="form-group">
                {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
            </div>
            {{ form.submit(class='btn btn-outline-primary btn-block') }}
        </form>
    </div>
</div>

{% endblock %}